node_modules/
npm-debug.log
yarn-error.log
package-lock.json
yarn.lock

dist/
build/
.tmp/
coverage/

.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*

*.log
*.out
*.pid
*.seed
*.gz


.DS_Store
Thumbs.db

/uploads

pm2.log
pm2.pid
